<!-- change to TicketSearchViewModel -->
@model IList<Ticket>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/ticket", "Tickets"), ("","Index") })>
<h3>Ticket List</h3>

<!-- note use of flex box here to ensure the button and search form are aligned on a row with space between -->
<div class="my-4 d-flex flex-row justify-content-between align-items-center">  
   <a asp-action="Create" class="btn btn-primary btn-sm">Create Ticket</a>   
   <!-- TBC -- add partial to search ticket issues -->
</div>

<table class="table">
    <thead>
      <tr>
         <th>Id</th>
         <th>Student</th>        
         <th>Created</th> 
         <th>Issue</th> 
         <th>Active</th>   
         <th>Actions</th>
      </tr>
    </thead>
    <tbody>
       <!--TBC - update to use Tickets property in the TicketSearchViewModel -->
      @foreach(var t in Model) {
          <tr>
            <td>@t.Id</td>
            <td>@t.Student.Name</td>
            <td>@t.CreatedOn.ToShortDateString()</td>
            <td>@t.Issue.Substring(0, t.Issue.Length < 20 ? t.Issue.Length : 20) ...</td>
            <td>
               <i asp-condition="@t.Active"    class="bi bi-toggle-on"></i>
               <i asp-condition="@(!t.Active)" class="bi bi-toggle-off"></i>  
            </td>
            <td>

               <!-- TBC - Add anchor tag to navigate to Ticket Details action -->
               <!-- this replaces the close form that was here originally -->
                                                   
            </td>
         </tr>
      }
    </tbody>
</table>
